*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Arial;
    padding:20;
    text-align: center;
}
h1{
    margin-bottom:20px;
}
.products{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}
.card{
    border: 1px solid;
    border: 15px;
    border-radius:10px;
}
img{
    width:100%;
    border-radius: 8px;
}
button{
    margin-top:10PX;
    padding: 8PX 15PX;
}
@media(min-width:768px)
{
    body{
        font-size:18px;
    }

.products{
    grid-template-columns: repeat(2,1fr);
}
}
@media(min-width:1024px)
{
    body{
        font-size:20px;
    }
    .products{
        grid-template-columns:repeat(3,1fr);
    }
    .card p{
        display: none;
    }
}

